<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <!-- Stylesheet -->
    <link rel="stylesheet" href="../styles/index.css">
    <!-- Navbar Custom Element -->
    <script src="../scripts/nav-bar.js" type="module"></script>
    <!-- Type Writer Feature -->
    <script src="../scripts/typewriter.js"></script>
  </head>
  <body>
    <div class="wrapper">
      <nav-bar></nav-bar>
      <p id="message1" class="index-messages"></p>
      <p id="message2" class="index-messages"></p>
      <p id="message3" class="index-messages"></p>
      <a id="portfolio-btn" href="/projects.html">Portfolio</a>
    </div>
  </body>
</html>