<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel="stylesheet" href="../styles/index.css">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
      <!-- Recipe Card Custom Element -->
    <script src="../scripts/NavBar.js" type="module"></script>
  </head>
  <body>

    <div class="wrapper">
      <header>
        <nav-bar></nav-bar>
      </header>

      <p id="message1" class="index-messages">Hi, I'm John</p>
      <p id="message2" class="index-messages"></p>
      <p id="message3" class="index-messages"></p>
      <a id="portfolio-btn" href="/projects.html">Portfolio</a>

    </div>
  
  </body>
</html>