<section class="nav-side-blocks" href="/">
  <a><img class="logo" src="../assets/logo-3.png" alt="logo"></a>
</section>

<a href="#" class="toggle-button">
  <span class="bar"></span>
  <span class="bar"></span>
  <span class="bar"></span>
</a>

<nav class="navbar-links">
  <ul class="links">
    <li><a href="/">Home</a></li>
    <li><a href="/about.html">About</a></li>
    <li><a href="/projects.html">Portfolio</a></li>
    <li><a href="/transflux.html">Transflux</a></li>
    <li><a href="/about.html#contact-section">Contact</a></li>
  </ul>
</nav>
<section class="nav-side-blocks"></section>