@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;700;900&display=swap');

* {
  background-color: transparent;
  text-align: center;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Montserrat', sans-serif;
  color: white;
  height: 100%;
}

body {
  background-color: rgb(43, 43, 43);
  height: 100%
}

.background-container {
  height: 100%;
  overflow: hidden;
}

.background-image {
  height: 100%;
  opacity: 0.2;
}
  