@import "constants.css";
@import "global.css";
@import "navbar.css";
@import "effects.css";

* {
  text-align: center;
}

.wrapper {
  background-image: url("../assets/index-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; 
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  -ms-content-zooming: none;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.index-text {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#message1 {
  font-size: calc(45px + 2.5vw);
  font-weight: 300;
  letter-spacing: 2px;
  opacity: 0;
  animation: fade-in 2s forwards;
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

#message2, #message3 {
  margin-top: 20px;
  font-size: calc(20px + 1vw);
  font-weight: 200;
  min-width: 900px;
}

.portfolio-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}

.portfolio-container a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}

.portfolio-container p {
  font-size: calc(20px + 0.5vw);
  letter-spacing: 3px;
}



@media screen and (max-width: 600px) {
  #message2, #message3 {
    min-width: 400px;
  }
}


