@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;700;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 3%;
}

.logo-container {
  background-color: transparent;
  cursor: pointer;
  width: 220px;
}

.logo {
  background-color: transparent;
  width: 100%;
  margin-top: 30px;
}

a {
  font-weight: 500;
  font-size: 27px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 0px 20px;
  background-color: transparent;
}

.links {
  list-style: none;
  display: flex;
  background-color: transparent;
}

.links li {
  padding: 0px 20px;
  background-color: transparent;
}

.links li a:hover {
  text-decoration: underline white solid 3px;
  color: rgb(255, 255, 255);
}

.placeholder {
  width: 220px;
}


