.nav-bar {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 60px;
  left: 10px;
  right: 10px;
  background-color: transparent;
}

.nav-bar button{
  font-family: 'Montserrat';
  background-color: inherit;
  border: none;
  color: white;
  font-size: 30px;
  margin: 30px 30px 30px 30px;
}

.nav-bar button:hover{
  color: rgb(130, 152, 233);
}