@import "constants.css";
@import "global.css";
@import "navbar.css";
@import "effects.css";


body {
  background-image: linear-gradient(
    145deg,
    hsl(306deg 61% 6%) 0%,
    hsl(91deg 18% 6%) 33%,
    hsl(206deg 45% 8%) 50%,
    hsl(220deg 48% 10%) 67%,
    hsl(0deg 0% 7%) 100%
  );
  margin-bottom: 200px;
}

.grid-wrapper {
  display: flex;
  justify-content: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 25px;
}

.project-card {
  position: relative;
  background: linear-gradient(0deg, rgba(23,23,23,1) 0%, rgba(82,82,82,1) 100%);
  width: 1000px;
  margin: 40px auto;
  border-radius: 10px;
  box-shadow: 0 10px 20px 0 rgba(0,0,0,0.1);
  overflow: hidden;
  transition: all 0.3s ease;
}

.project-card:hover {
  transform: scale(1.05);
}

.image-container {
  width: 100%;
  height: 300px;
  overflow: hidden;
  position: relative;
}

.project-image {
  position: absolute;
  top: 50%;
  left: 50%;
  height: auto;
  width: 100%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
}

.project-card:hover .project-image {
  transform: translate(-50%, -50%) scale(1.1);
}

.content {
  padding: 45px;
}

h4 {
  margin-bottom: 15px;
  padding-bottom: 5px;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 1px;
  border-bottom: solid white 1px;
}

.description {
  margin-bottom: 30px;
}

.description p {
  margin-bottom: 15px;
  line-height: 2;
}

.description ul {
  list-style: square;
  list-style-position: inside;
}

.description li {
  line-height: 2;
}

.link-container {
  display: flex;
}

.link-container a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}

.link-container p {
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: 200;
  color: rgb(161, 230, 255);
}